<!DOCTYPE html>
<html lang="ru">
<%
  page = {
    title: 'Фронт', // Если пустое значение будет использовано значение site.title
    permalink: '/products/front/', //Важно! Если не верно указать относительный путь к странице - будет ошибка подгрузки частей шаблона.
    header_title: 'Фронт / Разработка концепции продвижения',
    header_subtitle: 'Упакуем ваше предложение понятно и привлекательно, правильно посчитаем сумму вложений, поставим реалистичную цель по прибыли, спроектируем воронку продаж',
    why:'Перед началом запуска необходимо его тщательно спланировать и создать проект запуска, чтобы иметь чёткий план и не потратить время и бюджет впустую.',
    options:{
      title:'Test',
      desc:'test',
      warranty:'test',
      result:'test',
      contents:['test']
    },
    contents:[
        'Интервью с маркетологом для выявления ключевых смыслов о вас и вашем продукте',
        'Сортировка смыслов и выделение самых важных, которые станут основой лендинга и рекламных материалов',
        'Формулировка 5 вариантов уникального торгового предложения / оффера',
        'Выбор формата и темы продающего первого шага',
        'Разработка схемы воронки продаж',
        'Финансовый план запуска'
      ],
    prices:[
      {
        title:'',
        payref:'https://secure.wayforpay.com/button/bce0caab36fbf',
        price:'290'
      }
    ],
    meta: {
      keywords: '',
      description: '', // Если пустое значение будет использовано значение client.description
      image: ''
    },
    offerdownload:'',
    cta:''
  };
  //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
  page_nesting_level = (page.permalink.match(/\//g) || []).length;
  if (page.permalink !== '/') { 
    subfolder = '../';
    if (page_nesting_level > 2) {
      subfolder = subfolder.repeat(page_nesting_level - 1);
    }
  } else { subfolder = '' } 
%>
<%- include(subfolder + 'template-parts/_head.ejs') %>

<body class="<%= site.template %>">
  <div class="block py-5">
    <div class="container py-5">
      <a href="/"><img src="../images/logo.jpg" width="130" alt="logo"></a>
      <div class="row justify-content-md-center">
        <div class="col col-md-10">
          <h1 class="mt-5 text-center"><%- page.header_title %></h1>
          <p class="lead text-center"><%- page.header_subtitle %></p>
          <% if (page.offerdownload) { %>
          <p class="card-text"><a href="<%- page.offerdownload %>" target="_blank">Скачать коммерческое предложение</a>
          </p>
          <% } %>
          <h2 class="mt-5">Зачем вам это</h2>
          <p><%- page.why %></p>
          <h2 class="mt-5">Что входит</h2>
          <ul>
            <% 
      if (page.contents.length) { 
        page.contents.forEach(function (item) { 
    %>
            <li><%- item %></li>
            <% 
        });
      } 
    %>
          </ul>
          <h2 class="mt-5">Сколько стоит</h2>
          <div class="row">
            <% 
              if (page.prices.length) { 
                page.prices.forEach(function (item) { 
            %>
            <div class="col-md py-2">
              <div class="card card-body h-100">
                  <% if (item.title) { %> <p class="card-text"><%- item.title %></p><% } %>
                <a href="<%- item.payref %>" class="btn card-link btn-primary">Купить за $<%- item.price %></a>
              </div>
            </div>

          </div>
          <% 
        });
      } 
    %>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <%- include(subfolder + 'template-parts/_footer.ejs') %>
  <%- include(subfolder + 'template-parts/_scripts.ejs') %>
</body>

</html>