<div class="block py-5">
  <div class="container">
    <h2>
      <%- product.section_name %>
    </h2>
    <p class="lead mb-5 col-md-8 p-0"><%- product.section_description %></p>
    <div class="row">
    <% 
      if (product.card.length) { 
        product.card.forEach(function (item) { 
    %>
      <div class="col-md-6 col-lg-4 py-2">
        <div class="card card-body h-100">
          <h4 class="card-title">
            <a href="products/<%- item.redirect %>">
              <%- item.name %>
            </a>
          </h4>
          <p class="card-text">
            <%- item.title %>
          </p>
          <a href="products/<%- item.redirect %>" class="card-link">
            Подробнее
          </a>
        </div>
      </div>
    <% 
        });
      } 
    %>
    </div>
  </div>
</div>