<div class="row autor-position no-gutters justify-content-center">
  <div class="col col-xl-auto">
  <% 
    if (paragraph.name.length) { 
      paragraph.name.forEach(function (name) {
  %>
    <h2 class="mt-5">
      <%- name %>
    </h2>
    <%});
    } 
  %>
  <% 
    if (paragraph.desription.length) { 
      paragraph.desription.forEach(function (desription) {
  %>
    <p>
      <%- desription %>
    </p>
  <% });
    } 
  %>
    <div class="audio mt-5">
      <div class="audio-container">
        <% 
          if (paragraph.audio.length) { 
            paragraph.audio.forEach(function (audio) {
        %>
        <audio controls class="audio-item">
          <source src="<%- audio %>" type="audio/mpeg">
            Тег audio не поддерживается вашим браузером.
            <a href="<%- audio %>">Скачайте музыку</a>.
        </audio>
        <% });
          } 
        %>
      </div>
      <div class="audio-decr">
        <div class="whom">
          <% 
            if (paragraph.whom.length) { 
              paragraph.whom.forEach(function (whom) {
          %>
          <p>
            <b>Кому пригодится:</b>
            <%- whom %>
          </p>
          <% });
            } 
          %>
        </div>
        <div class="duration">
          <% 
            if (paragraph.duration.length) { 
              paragraph.duration.forEach(function (duration) {
          %>
          <p>
            <b>Продолжительность:</b>
            <%- duration %>
          </p>
          <% });
            } 
          %>
        </div>
      </div>
    </div>
  </div>
</div>