/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }
  .audio-decr{
    width: 470px;
    box-sizing:border-box;
    padding-left: 40px;
  }
.audio{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.audio-container{
  display: flex;
  flex-direction: column;
}
.audio-item {
  margin-bottom: 10px;
}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

body {
  font-size: 18px;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  min-width: 320px; }
  @media (max-width: 767px) {
    body .block,
    body .p-x-lg {
      padding-left: 15px !important;
      padding-right: 15px !important; } }

.b-head h1 {
  text-shadow: 0px 0px 3px #fff; }

.b-head-main {
  background: #efefef;
  background-size: cover;
  min-height: 600px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700; }

h1, .h1 {
  font-size: 38px; }

h2, .h2 {
  font-size: 32px; }

h3, .h3 {
  font-size: 28px; }

h4, .h4 {
  font-size: 24px; }

h5, .h5 {
  font-size: 18px; }

h6, .h6 {
  font-size: 14px; }

@media (max-width: 991px) {
  h1, .h1 {
    font-size: 36px; }
  h2, .h2 {
    font-size: 30px; }
  h3, .h3 {
    font-size: 26px; } }

@media (max-width: 767px) {
  h1, .h1 {
    font-size: 34px; }
  h2, .h2 {
    font-size: 28px; }
  h3, .h3 {
    font-size: 24px; } }

.b-odd, .b-footer {
  background-color: #f8f8f8; }

.btn {
  white-space: normal; }

.shadow {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5); }

.frame {
  border: solid #fecb45 5px; }

.form-well {
  background: white;
  padding: 20px; }

.full-height {
  height: 100%; }

.link-img {
  outline: none !important; }

.before {
  content: "";
  display: block;
  position: absolute; }

.grey-number {
  font-size: 36px;
  color: #ccc;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 10px; }

.text-normal {
  font-weight: 400 !important; }

.btn-large {
  font-size: 18px;
  width: 340px;
  max-width: 100%;
  padding: 12px 0; }

.frame-color, .b-what__quote {
  border: 16px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
  border-image: linear-gradient(to bottom right, #3acfd5 0%, #3a4ed5 100%);
  border-image-slice: 1; }

.b-what__quote {
  font-family: 'Helvetica Light', 'Helvetica';
  font-weight: 300;
  font-style: normal;
  font-size: 28px; }

img {
  max-width: 100%;
  height: auto; }

a {
  cursor: pointer; }

.modal .close {
  text-decoration: none !important; }

.featured-list-bordered li {
  padding-left: 65px;
  text-align: left;
  min-height: 44px; }

.featured-list-bordered .featured-list-icon {
  width: 44px;
  height: 44px;
  border: 1px solid #1fd2ff;
  line-height: 44px; }

.featured-list-icon {
  color: #1fd2ff;
  font-size: 30px; }

@media (max-width: 480px) {
  .hidden-480 {
    display: none; } }

.btn-red {
  color: #fff;
  background-color: #d90000;
  border-color: #730000; }

.btn-red:focus,
.btn-red.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19; }

.btn-red:hover {
  color: #fff;
  background-color: #a60000;
  border-color: #ac2925; }

.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925; }

.btn-red:active:hover,
.btn-red.active:hover,
.open > .dropdown-toggle.btn-red:hover,
.btn-red:active:focus,
.btn-red.active:focus,
.open > .dropdown-toggle.btn-red:focus,
.btn-red:active.focus,
.btn-red.active.focus,
.open > .dropdown-toggle.btn-red.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19; }

.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
  background-image: none; }

.btn-red.disabled,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled.focus,
.btn-red[disabled].focus,
fieldset[disabled] .btn-red.focus {
  background-color: #d9534f;
  border-color: #d43f3a; }

.btn-red .badge {
  color: #d9534f;
  background-color: #fff; }

.b-head {
  position: relative;
  overflow: hidden; }

.b-head__item {
  position: relative;
  z-index: 2; }

.b-head__image {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 50%;
  max-height: 85%; }

.b-head__skype {
  position: relative;
  z-index: 2;
  text-decoration: none !important; }
  .b-head__skype .icon {
    position: relative;
    top: 3px; }

.b-what__item p {
  line-height: 1.32; }

.b-subject {
  background: #f8f8f8; }

.b-subject__item p {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 10px; }

@media (max-width: 991px) {
  .b-subject__item p {
    font-size: 20px; } }

@media (max-width: 767px) {
  .b-subject__item p {
    font-size: 19px; } }

@media (max-width: 480px) {
  .b-subject__item p {
    font-size: 18px; }
    .audio-item {
    max-width: 250px !important;
    } }

@media (max-width: 480px) {
  .b-subject__col {
    width: 100%;
    float: none; } }

.b-advantage__item {
  line-height: 1.32;
  padding-right: 20px; }

@media (max-width: 991px) {
  .b-advantage__item {
    padding-right: 0; } }

.b-condition {
  background: #f8f8f8; }

.b-condition__title {
  margin-bottom: 10px; }

.b-condition__item {
  line-height: 1.32;
  padding-right: 20px; }

@media (max-width: 991px) {
  .b-condition__item {
    padding-right: 0; } }

.b-portfolio__image-wrap {
  display: block;
  padding: 10px; }
  .b-portfolio__image-wrap img {
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.6); }

.b-portfolio__image, .b-portfolio__image-my {
  width: 400px;
  margin: 20px auto 0; }

.b-portfolio__image-my {
  box-shadow: 0 0 5px 0 rgba(155, 155, 155, 0.7);
  margin: 20px auto; }

.b-scheme {
  background: #f8f8f8; }

.b-scheme__item {
  line-height: 1.32; }
  .b-scheme__item p {
    margin-bottom: 0; }

.b-scheme__last-row {
  position: relative;
  top: -15px; }

@media (max-width: 991px) {
  .b-scheme__last-row {
    top: 0; } }

.b-price__item {
  margin-top: 40px; }
  .b-price__item p {
    line-height: 1.32; }

.b-cost {
  background: #f8f8f8; }

.b-faq__item {
  margin-top: 40px;
  line-height: 1.32; }
  .b-faq__item p {
    margin-bottom: 0; }

.fake-browser-ui {
  padding: 20px 0 0;
  border-radius: 3px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  background: #ddd;
  display: inline-block;
  position: relative;
  line-height: 0;
  -webkit-box-shadow: 3px 3px 24px #999;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 24px #999;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 24px #999;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

.fake-browser-ui .browser-frame {
  display: block;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 1px; }

.fake-browser-ui span {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #eee;
  border: 1px solid #dadada;
  float: left;
  margin: 0 0 0 4px; }
@media (max-width: 375px) {
  @media (max-width: 767px) {
  h1, .h1 {
    font-size: 31px; }
  h2, .h2 {
    font-size: 24px; }
  h3, .h3 {
    font-size: 22px; } }
    .py-5{
      h1{
        display: flex;
        flex-direction: column;
      }
    }
  }
    @media (max-width: 993px) {
      .duration{
        padding: 0;
        width: 100%;
      }
      .audio-container{
        order:2;
      }

        .audio.mt-5{
        margin-top: 10px !important;
      
    }
  }