---
layout: base
---

<header>
  <div class="block b-odd py-5">
    <div class="container py-5">
      <h1><img src="/images/icoach-logo-site.jpg" width="130" alt="logo"> Каталог&nbsp;продуктов</h1>
    </div>
  </div>
</header>

{% for cat in site.cats %}
<div class="block py-5">
  <div class="container">
    <h2>{{ cat.name }}</h2>
    <p class="lead mb-5 col-md-8 p-0">{{ cat.title }}</p>
    <div class="row">
      {% for offer in cat.offers %}
        <div class="col-md-6 col-lg-4 py-2">
          <div class="card card-body h-100">
            <h4 class="card-title"><a href="/{{ offer.ref }}/">{{ offer.name }}</a></h4>
            <p class="card-text">{{ offer.title }}</p>
            <a href="/{{ offer.ref }}/" class="card-link">Подробнее</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}

{% include footer.html %}

