---
layout: base
---

<div class="block py-5">
  <div class="container py-5">
    <a href="/"><img src="/images/icoach-logo-site.jpg" width="130" alt="logo"></a>
    <div class="row justify-content-md-center">
      <div class="col col-md-10">
        <h1 class="mt-5 text-center">{{ page.title}}</h1>
        <p class="lead text-center">{{ page.what }}</p>
        {% if page.offer-download %}<p class="card-text"><a href="{{ page.offer-download }}" target="_blank">Скачать коммерческое предложение</a></p>{% endif %}
        <h2 class="mt-5">Зачем вам это</h2>
        <p>{{ page.why }}</p>
        {% if page.options %}
          {% for option in page.options %}
            <hr class="mt-5"/>
            <h2 class="mt-5">{{ option.title }}</h2>
            <p class="lead">{{ option.desc }}</p>
            <ul>
              {% for item in option.contents %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
            <h3 class="mt-5">Сколько стоит</h3>
            <div class="row">
              {% for item in option.prices %}
                <div class="col-md py-2">
                  <div class="card card-body h-100">
                    {% if item.title %}<p class="card-text">{{ item.title }}</p>{% endif %}
                    {% if item.downpayment %}<a href="{{ item.payref }}" class="btn card-link btn-primary">Внести предоплату ${{ item.downpayment }}</a>{% endif %}
                    {% if item.price %}<a href="{{ item.payref }}" class="btn card-link btn-primary">Купить за ${{ item.price }}</a>{% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
            {% if option.warranty %}
              <h3 class="mt-5">Гарантии</h3>
              <ul>
                {% for item in option.warranty %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
          <hr class="mt-5"/>
        {% else %}
          <h2 class="mt-5">Что входит</h2>
          <ul>
            {% for item in page.contents %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
          {% if page.result %}
            <h2 class="mt-5">Результат</h2>
            <p class="lead">{{ page.result }}</p>
          {% endif %}
          <h2 class="mt-5">Сколько стоит</h2>
          <div class="row">
            {% for item in page.prices %}
              <div class="col-md py-2">
                <div class="card card-body h-100">
                  {% if item.title %}<p class="card-text">{{ item.title }}</p>{% endif %}
                  {% if item.downpayment %}<a href="{{ item.payref }}" class="btn card-link btn-primary">Внести предоплату ${{ item.downpayment }}</a>{% endif %}
                  {% if item.price %}<a href="{{ item.payref }}" class="btn card-link btn-primary">Купить за ${{ item.price }}</a>{% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        {% if page.warranty %}
          <h2 class="mt-5">Гарантии</h2>
          <ul>
            {% for item in page.warranty %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if page.cta %}<p class="lead mt-5 text-center">{{ page.cta }}</p>{% endif %}
      </div>
    </div>
  </div>
</div>

{% include footer.html %}

