<!DOCTYPE html>
<html lang="ru">
  <%
    page = {
      title: 'Каталог продуктов', // Если пустое значение будет использовано значение site.title
      permalink: '/', //Важно! Если не верно указать относительный путь к странице - будет ошибка подгрузки частей шаблона.
      header_title: 'Курс по&nbsp;продажам',
      header_subtitle: 'Выберем из нескольких возможных вариантов вашего продукта или первого шага самый популярный',
      meta: {
        keywords: '',
        description: '', // Если пустое значение будет использовано значение product.description
        image: ''
      }
    };
    //Код для определения глубины вложенности данной страницы и выстраивания правильных относительных путей к частям шаблона
    page_nesting_level = (page.permalink.match(/\//g) || []).length;
    if (page.permalink !== '/') { 
      subfolder = '../';
      if (page_nesting_level > 2) {
        subfolder = subfolder.repeat(page_nesting_level - 1);
      }
    } else { subfolder = '' } 
  %>
  <%- include(subfolder + 'template-parts/_head.ejs') %>

  <body class="<%= site.template %>">
    <div id="wrapper">

      <%- include(subfolder + 'template-parts/_header.ejs') %>

      <%- include(subfolder + 'template-parts/_card_block.ejs',{
        product:{
          section_name:'Маркетинг',
          section_description:'Выделим ваши сильные стороны как эксперта и поможем занять уверенную позицию на рынке',
          card:[
            {
              name:'Фронт / Разработка концепции продвижения',
              title:'Упакуем ваше предложение понятно и привлекательно, правильно посчитаем сумму вложений, поставим реалистичную цель по прибыли, спроектируем воронку продаж',
              why:'Перед началом запуска необходимо его тщательно спланировать и создать проект запуска, чтобы иметь чёткий план и не потратить время и бюджет впустую.',
              redirect:'front'
            },
            {
              name:'Выбор правильного позиционирования и узкой специализации',
              title:'Поможем выбрать тему, которая соответствует вашей экспертности, пользуется спросом, и не занята конкурентами',
              why:'Невозможно быть лучшим во всём. Если хотите стать №1, важно выбрать лучшую для себя нишу, грамотно в ней позиционироваться, и сконцентрировать все усилия именно на ней. Тогда вас будет знать рынок, а средства массовой информации — приглашать как ведущего эксперта в этой теме',
              redirect:'positioning'
            },
            {
              name:'Сплит-тест для выбора популярной темы',
              title:'Выберем из нескольких возможных вариантов вашего продукта или первого шага самый популярный',
              why:'Если вы не уверены, какой запускать продукт, или каким сделать первый шаг, или в каком формате его делать, чтобы привлечь максимум аудитории, то мы проведём сплит-тест и получим фактические данные об отклике целевой аудитории на каждый из вариантов',
              redirect:'split'
            },
            {
              name:'Проработка конгруэнтности и правильной подачи',
              title:'Научитесь продавать естественно и органично',
              why:'Если вы отличный эксперт, но продажи идут слабо, тема не цепляет аудиторию, и вы хотите большего. Научитесь правильно подавать себя и ​свою экспертность, почувствуете уверенность в своей теме и продаже, и начнёте конвертировать потенциальных клиентов в действующих легко и естественно.',
              redirect:'authenticity'
            },
            {
              name:'Построение личного бренда в соцсетях',
              title:'Cоздание целостного медийного образа и его реализация через соцсети',
              why:'',
              redirect:'social-branding'
            }
          ]
        }
      });
      %>

      <%- include(subfolder + 'template-parts/_card_block.ejs',{
        product:{
          section_name:'Стандартные пакеты',
          section_description:'Упаковка и продвижение — если у вас есть продукт, и вы в нём уверены. Теперь его нужно грамотно презентовать и создать поток целевых заявок',
          card:[
            {
              name: 'Пакет «Старт»',
              title: 'Грамотная упаковка вашего предложения и создание потока клиентов',
              why: 'Грамотная упаковка создаст ценность предложения в глазах потенциального клиента, а рекламная кампания привлечёт стабильный поток заявок на ваши услуги. Вам же нужны клиенты, верно?',
              redirect: 'start'
            },
            {
              name: 'Пакет «Оптимальный»',
              title: 'Как пакет «Старт», только перед первым шагом мы сделаем предзапуск, то есть прогреем аудиторию с помощью лидмагнита',
              why: 'Лидмагнит познакомит клиентов с вами, докажет им вашу экспертность, и вызовет доверие к вам ещё до консультации или вебинара',
              redirect: 'optimal'
            },
            {
              name: 'Пакет «Премиум»',
              title: 'Как пакет «Оптимальный», только мы ещё запустим серию прогревающего контента, который разожжёт в потенциальных клиентах сильное желание купить ещё до того, как они увидели продукт. Дожимающие письма продадут тем, кто сомневается.',
              why: 'Делаем всё необходимое, чтобы выжать максимум из продаж',
              redirect: 'premium'
            },
            {
              name: 'Формула «Монетизируй экспертность»',
              title: 'Упакуем экспертность в боксовый продукт, создадим бренд и автоматизируем продажи',
              why: 'Вы уже являетесь экспертом в определённой сфере деятельности, но теперь хотите заработать на своём опыте через боксовый продукт? Определим компетенции и создадим бренд продукта или личности. Мы разработаем автоматизированную воронку и поставим продажи на поток.',
              redirect: 'monet'
            },
            {
              name: 'Формула «Билл Гейтс»',
              title: 'Создадим бренд компании, автоматизируем и масштабируем продажи',
              why: 'Вы хороши в своём продукте, но не хотите заниматься привлечением? Приведём стабильный поток клиентов на готовый продукт. Мы создадим бренд компании, разработаем воронку и автоматизируем продажи.',
              redirect: 'gayts'
            },
            {
              name: 'Формула «Тони Роббинс»',
              title: 'Создадим бренд личности и популяризируем его',
              why: 'Ваша цель — это получить признание в сфере своей деятельности? Хотите собирать полные залы и тысячи подписчиков в соцсетях? Определим ваши компетенции и создадим концепт бренда личности. Мы выберем инструменты для продвижения и разработаем стратегию развития бренда.',
              redirect: 'robbins'
            },
            {
              name: 'Формула «Инфобизнесмен»',
              title: 'Создадим боксовый, упакованный продукт и автоматизируем все процессы: от привлечения трафика до повторных продаж',
              why: 'Хотите получать пассивный доход из автоворонки, но не знаете, что может выстрелить? Проведём исследование и поможем выбрать компетенции, которые будут продаваться лучше всего. Мы создадим бренд продукта, разработаем воронку и запустим продажи на автопилот.',
              redirect: 'infobusines'
            }
          ]
        }
      });
      %>

      <%- include(subfolder + 'template-parts/_card_block.ejs',{
      product:{
        section_name:'Трафик',
        section_description:'Если упаковка не нужна, а нужно собрать целевых клиентов минимальными затратами',
        card:[
          {
            name: 'Легкий старт',
            title: 'Наполняем группы в соцсетях, пишем раскрывающий ценность продукта продающий пост, и запускаем трафик',
            why: 'Собираем заявки на продающий первый шаг быстро и недорого',
            redirect: 'light'
          },
          {
            name: 'Таргетированная реклама',
            title: 'Настроим рекламу на имеющийся лендинг и привлечём поток трафика',
            why: 'Если всё уже отлично работает, только хочется кому-то делегировать ведение рекламы, увеличить количество заявок, снизить цену',
            redirect: 'targeting'
          },
          {
            name: 'Прокачка инстаграма',
            title: 'Привлечём подписчиков в ваш инстаграм и повысим активность имеющихся',
            why: 'По популярности вашего инстаграма целевые клиенты поймут, что ваши услуги востребованы, и будут покупать охотнее',
            redirect: 'mfml'
          }
        ]
      }
    });
    %>

    <%- include(subfolder + 'template-parts/_card_block.ejs',{
      product:{
        section_name:'Упаковка',
        section_description:'Если клиенты приходят, смотрят, но не оставляют заявки, грамотная упаковка поможет донести до них ценность вашего предложения',
        card:[
        {
          name: 'Продающий лендинг',
          title: 'Разработка продающего лендинга для вашего продукта',
          why: 'Качественный лендинг просто, понятно, и выгодно объясняет посетителю, почему ему стоит работать именно с вами, отделяет целевых от нецелевых, и побуждает оставить заявку на ваши услуги',
          ref: 'landing-page'
        },
        {
          name: 'Индивидуальный дизайн лендинга',
          title: 'Визуальное оформление лендинга и рекламных материалов в соответствии с вашим фирменным стилем',
          why: '«Встречают по одёжке» — профессиональный качественный дизайн создаёт у потенциального клиента ощущение качества вашего продукта на подсознательном уровне и повышает доверие',
          ref: 'landing-page-design'
        },
        {
          name: 'Коммерческое предложение',
          title: 'Разработка продающего коммерческого предложения для вашего продукта',
          why: 'Правильное коммерческое предложение — не просто таблица с ценами, а аналог хорошего лендинга. Из него клиент не только узнает цену, но и суть предложения, выгоды от работы именно с вами, и причины начинать работать именно сейчас. Правильное КП поднимает конверсию в продажу в несколько раз.',
          ref: 'proposition',
        },
        {
          name: 'Создание продающего видеоролика',
          title: 'Видеоролик с вашим участием для лендинга',
          why: 'Об услуге лучше всего узнавать от самого эксперта. Мы разработаем сценарий, который сделает эту презентацию короткой и чёткой, и будет составлен по продающей структуре, быстро и последовательно подводящей посетителя лендинга к решению совершить ключевое действие — заказать ваши услуги.',
          ref: 'video'
        }
        ]
      }
    });
    %>

    <%- include(subfolder + 'template-parts/_card_block.ejs',{
      product:{
        section_name:'Прогрев',
        section_description:'Вы хотите, чтобы к вам приходили уже готовые покупать целевые клиенты, не сомневались в вас и вашем продукте, а знали вас, и доверяли вам',
        card:[
          {
            name: 'СММ',
            title: 'Ведение фейсбука и инстаграма 1 месяц',
            why: 'Выстройте отношения с клиентами в соцсетях, станьте экспертом, которому доверяют, и забудьте о возражениях при продаже',
            redirect: 'smm'
          },
          {
            name: 'Лидмагнит',
            title: 'Собираем базу потенциальных клиентов с помощью предложения скачать бесплатный PDF-файл, содержащий ценную информацию про проблему или основные методы её решения',
            why: 'Быстро и недорого собираем базу людей, действительно имеющих проблему и готовых её решать, знакомим их с вашей экспертностью, и создаём доверие. Это сильно снижает цену заявки и повышает конверсию.',
            ref: 'leadmagnet'
          },
          { 
            name: 'Трипваер',
            title: 'Продаём дешёвый продукт, быстро решающий одну конкретную проблему',
            why: 'Вместо того, чтобы сразу предлагать основной продукт, дающий полное решение всех проблем за полную стоимость, откалываем от продукта небольшой осколок, дающий быстрое решение всего одной проблемы, и продаём за смешные деньги. Решиться купить трипваер гораздо проще, чем основной продукт — цена меньше, воспринимаемый риск гораздо ниже. А когда клиент уже купил трипваер, и решил одну проблему, решиться купить основной продукт становится просто. Теперь он понимает, что получил большую пользу за несоизмеримо маленькие деньги. Он уже точно знает, что вам можно доверять — обещали помочь, значит поможете. Потому что убедился на собственном опыте.',
            ref: 'tripwire'
          },
          {
            name: 'Прогревочная рассылка писем в чате или по электронной почте',
            title: 'С помощью серии писем актуализируем потребность или реактивируем боль, знакомим с вами и показываем вашу экспертность, готовим к мысли о покупке основного продукта ещё до бесплатного первого шага',
            why: 'Вместо работы с холодными сомневающимися клиентами, вы будете легко продавать на горячую аудиторию, уже готовую покупать',
            ref: 'warmup-series'
          },
          {
            name: 'Индивидуальные напоминалки о начале вебинара в мессенджере',
            title: 'Серия индивидуальных писем-напоминалок потенциальному клиенту перед началом вебинара',
            why: 'Вместо типового сообщения «вы записались на вебинар, вот ссылка для участия» клиент получает серию из 3 персональных сообщений, которые напомнят, куда и зачем он записывался, реактивируют его боли и проблемы, напомнят, что будет на вебинаре, и повысят процент дошедших до вебинара в несколько раз.',
            ref: 'reminder'
          },
          {
            name: 'Индивидуальная напоминалка о начале вебинара в мессенджере в видео-формате',
            title: 'Сообщение потенциальному клиенту перед началом вебинара с вашим видеообращением',
            why: 'Помимо типового сообщения «вы записались на вебинар, вот ссылка для участия» клиент получает накануне вебинара видеообращение от вас лично, которое позволит вспомнить вас, реактивирует боли и проблемы, возобновит интерес к вебинару, и кардинально повысит доходимость до вебинара.',
            ref: 'video-reminder'
          }
        ]
      }
    });
    %>

    <%- include(subfolder + 'template-parts/_card_block.ejs',{
      product:{
        section_name:'Бизнес',
        section_description:'Когда нужно не только привести потенциальных клиентов, но и заработать на них',
        card:[
          {
            name: 'Оптимизация бизнес-процессов',
            title: 'Поможем выявить узкие места бизнеса и автоматизировать рутину',
            why: 'Стихийный бизнес не автоматизировать, не продать, не передать в управление. Он ест время (часто на рутинные, малоэффективные действия), как результат — создает потолок дохода.',
            redirect: 'optimize'
          },
          {
            name: 'Делегирование продаж',
            title: 'Делегируйте работу отделу продаж, который продает',
            why: '',
            redirect: 'sales'
          }
        ]
      }
    });
    %>

    <%- include(subfolder + 'template-parts/_footer.ejs') %>
    </div>
    <%- include(subfolder + 'template-parts/_scripts.ejs') %>
  </body>
</html>